<!DOCTYPE html>
<html>
<head>
    <title>Create Log Entry</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <h1>Create New Log Entry</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#id_start_time", { enableTime: true,dateFormat: "Y-m-d H:i" });
        flatpickr("#id_end_time",   { enableTime: true,dateFormat: "Y-m-d H:i" });
    </script>
</body>
</html>
