<!DOCTYPE html>
<html>
<head>
    <title>Log Entries</title>
</head>
<body>
    <h1>Log Entries</h1>
    <ul>
        {% load tz %}  <!-- Carga el templatetag para manejo de zona horaria -->
        {% for log in logs %}
        <li>
            <strong>{{ log.title }}</strong><br>
            Start Time: {% timezone "Europe/Berlin" %}{{ log.start_time }}{% endtimezone %}<br>
            End Time: {% timezone "Europe/Berlin" %}{{ log.end_time }}{% endtimezone %}<br>
            Duration: {{ log.duration }}
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'log_create' %}">Create New Log</a>
</body>
</html>
